In [1]:
import json
import pandas as pd
import os, glob, shutil
import matplotlib.pyplot as plt

Now, we need to see what are all the different classes the NER dataset has

In [2]:
data = json.load(open('../../data/ner/NER_TRAIN/NER_TRAIN_PREAMBLE.json'))

for ix in range(2):
    for res in data[ix]['annotations']:
        tmp = res['result']
        for r in tmp:
            print(f"{r['value']['labels']}\t{r['value']['text']}")
    print("===")

['COURT']	High Court Of Kerala At Ernakulam
['PETITIONER']	T.R.Ajayan
['RESPONDENT']	M.Ravindran
['RESPONDENT']	Nirmala Dinesh
['LAWYER']	A.Kumar
['LAWYER']	M.K.Pushpalatha
['JUDGE']	P.R.Raman
['JUDGE']	V.K.Mohanan
===
['JUDGE']	Lokesh Kumar Sharma
['PETITIONER']	Chanakyapuri
['RESPONDENT']	Jindal Steel & Power Ltd.
['RESPONDENT']	The State
['RESPONDENT']	Planman Media Pvt. Ltd.
['RESPONDENT']	Arindam Chaudhuri
['RESPONDENT']	Jindal Steel & Power Ltd
['RESPONDENT']	State & Ors.
['LAWYER']	A. Sandeep
['LAWYER']	Ashok Bose
===

In [3]:
CLASSES = []


from tqdm import tqdm

for ix in tqdm(range(len(data))):
    for res in data[ix]['annotations']:
        tmp = res['result']
        for r in tmp:
            # print(f"{r['value']['labels']}\t{r['value']['text']}")
            CLASSES.extend(r['value']['labels'])
    # print("===")

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1560/1560 [00:00<00:00, 273644.53it/s]

In [4]:
CLASSES[:10]

['COURT',
 'PETITIONER',
 'RESPONDENT',
 'RESPONDENT',
 'LAWYER',
 'LAWYER',
 'JUDGE',
 'JUDGE',
 'JUDGE',
 'PETITIONER']

In [5]:
UNIQUE_CLASSES = list(set(CLASSES))
len(CLASSES), len(UNIQUE_CLASSES)

(12479, 5)

In [6]:
from collections import Counter
Counter(CLASSES)

Counter({'RESPONDENT': 3538,
         'LAWYER': 3505,
         'PETITIONER': 2604,
         'JUDGE': 1758,
         'COURT': 1074})

In [7]:
UNIQUE_CLASSES

['LAWYER', 'JUDGE', 'PETITIONER', 'RESPONDENT', 'COURT']

In [8]:
data = json.load(open('../../data/ner/NER_TRAIN/NER_TRAIN_JUDGEMENT.json'))

for ix in range(2):
    for res in data[ix]['annotations']:
        tmp = res['result']
        for r in tmp:
            print(f"{r['value']['labels']}\t{r['value']['text']}")
    print("===")

['ORG']	Hongkong Bank
['ORG']	Rahul & Co.
===
['OTHER_PERSON']	Agya
['OTHER_PERSON']	Kaur
['OTHER_PERSON']	Tarlochan Singh
===

In [9]:
CLASSES = []


from tqdm import tqdm

for ix in tqdm(range(len(data))):
    for res in data[ix]['annotations']:
        tmp = res['result']
        for r in tmp:
            # print(f"{r['value']['labels']}\t{r['value']['text']}")
            CLASSES.extend(r['value']['labels'])
    # print("===")

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9435/9435 [00:00<00:00, 631444.50it/s]

In [10]:
CLASSES[:10]

['ORG',
 'ORG',
 'OTHER_PERSON',
 'OTHER_PERSON',
 'OTHER_PERSON',
 'WITNESS',
 'ORG',
 'GPE',
 'ORG',
 'OTHER_PERSON']

In [11]:
UNIQUE_CLASSES = list(set(CLASSES))
len(CLASSES), len(UNIQUE_CLASSES)

(17485, 13)

In [12]:
UNIQUE_CLASSES

['WITNESS',
 'OTHER_PERSON',
 'STATUTE',
 'CASE_NUMBER',
 'GPE',
 'ORG',
 'DATE',
 'JUDGE',
 'PROVISION',
 'PETITIONER',
 'RESPONDENT',
 'COURT',
 'PRECEDENT']

In [13]:
from collections import Counter

Counter(CLASSES)

Counter({'OTHER_PERSON': 2653,
         'PROVISION': 2384,
         'DATE': 1885,
         'STATUTE': 1804,
         'ORG': 1441,
         'GPE': 1398,
         'PRECEDENT': 1351,
         'COURT': 1293,
         'CASE_NUMBER': 1040,
         'WITNESS': 881,
         'JUDGE': 567,
         'PETITIONER': 464,
         'RESPONDENT': 324})

In [16]:
text = data[0]['data']['text']
text

"\n\n(7) On specific query by the Bench about an entry of Rs. 1,31,37,500 on deposit side of Hongkong Bank account of which a photo copy is appearing at p. 40 of assessee's paper book, learned authorised representative submitted that it was related to loan from broker, Rahul & Co. on the basis of his submission a necessary mark is put by us on that photo copy."

In [20]:
data[0]['annotations'][0]['result']

[{'value': {'start': 90,
   'end': 103,
   'text': 'Hongkong Bank',
   'labels': ['ORG']},
  'id': 'C8HPTIM1',
  'from_name': 'label',
  'to_name': 'text',
  'type': 'labels'},
 {'value': {'start': 267,
   'end': 278,
   'text': 'Rahul & Co.',
   'labels': ['ORG']},
  'id': 'KOWE3RAM',
  'from_name': 'label',
  'to_name': 'text',
  'type': 'labels'}]

In [21]:
data[1]['annotations'][0]['result']

[{'value': {'start': 26,
   'end': 30,
   'text': 'Agya',
   'labels': ['OTHER_PERSON']},
  'id': '0V4Q2F2B',
  'from_name': 'label',
  'to_name': 'text',
  'type': 'labels'},
 {'value': {'start': 101,
   'end': 105,
   'text': 'Kaur',
   'labels': ['OTHER_PERSON']},
  'id': 'HLWY1CM9',
  'from_name': 'label',
  'to_name': 'text',
  'type': 'labels'},
 {'value': {'start': 159,
   'end': 174,
   'text': 'Tarlochan Singh',
   'labels': ['OTHER_PERSON']},
  'id': '9BYYLAZB',
  'from_name': 'label',
  'to_name': 'text',
  'type': 'labels'}]

In [24]:
texts = []
labels = []
starts = []
ends = []

for res in data[0]['annotations'][0]['result']:
    texts.append(res['value']['text'])
    labels.extend(res['value']['labels'])
    starts.append(res['value']['start'])
    ends.append(res['value']['end'])
    
texts, labels, starts, ends

(['Hongkong Bank', 'Rahul & Co.'], ['ORG', 'ORG'], [90, 267], [103, 278])

In [23]:
text

"\n\n(7) On specific query by the Bench about an entry of Rs. 1,31,37,500 on deposit side of Hongkong Bank account of which a photo copy is appearing at p. 40 of assessee's paper book, learned authorised representative submitted that it was related to loan from broker, Rahul & Co. on the basis of his submission a necessary mark is put by us on that photo copy."

In [32]:
text[starts[0]:ends[0]].replace(' ', '_')

'Hongkong_Bank'

In [33]:
text[starts[1]:ends[1]].replace(' ', '_')

'Rahul_&_Co.'

In [34]:
replaced_texts = []

for ix in range(len(texts)):
    replaced_texts.append(text[starts[ix]:ends[ix]].replace(' ', '_'))

replaced_texts

['Hongkong_Bank', 'Rahul_&_Co.']

In [36]:
import re

In [38]:
for j in range(len(replaced_texts)):
    text = re.sub(texts[j], replaced_texts[j], text)

text

"\n\n(7) On specific query by the Bench about an entry of Rs. 1,31,37,500 on deposit side of Hongkong_Bank account of which a photo copy is appearing at p. 40 of assessee's paper book, learned authorised representative submitted that it was related to loan from broker, Rahul_&_Co. on the basis of his submission a necessary mark is put by us on that photo copy."

In [40]:
mapping_dict = dict(zip(replaced_texts, labels))
mapping_dict

{'Hongkong_Bank': 'ORG', 'Rahul_&_Co.': 'ORG'}

In [39]:
text.split(' ')

['\n\n(7)',
 'On',
 'specific',
 'query',
 'by',
 'the',
 'Bench',
 'about',
 'an',
 'entry',
 'of',
 'Rs.',
 '1,31,37,500',
 'on',
 'deposit',
 'side',
 'of',
 'Hongkong_Bank',
 'account',
 'of',
 'which',
 'a',
 'photo',
 'copy',
 'is',
 'appearing',
 'at',
 'p.',
 '40',
 'of',
 "assessee's",
 'paper',
 'book,',
 'learned',
 'authorised',
 'representative',
 'submitted',
 'that',
 'it',
 'was',
 'related',
 'to',
 'loan',
 'from',
 'broker,',
 'Rahul_&_Co.',
 'on',
 'the',
 'basis',
 'of',
 'his',
 'submission',
 'a',
 'necessary',
 'mark',
 'is',
 'put',
 'by',
 'us',
 'on',
 'that',
 'photo',
 'copy.']

In [41]:
df = pd.read_csv('../../data/ner/ner_train.csv')
df

            sentence #            words     tag
0          Sentence: 0          \n\n(7)  OBJECT
1          Sentence: 0               On  OBJECT
2          Sentence: 0         specific  OBJECT
3          Sentence: 0            query  OBJECT
4          Sentence: 0               by  OBJECT
...                ...              ...     ...
293958  Sentence: 9364             with  OBJECT
293959  Sentence: 9364          accused  OBJECT
293960  Sentence: 9364             No.1  OBJECT
293961  Sentence: 9364               as  OBJECT
293962  Sentence: 9364  aforementioned.  OBJECT

[293963 rows x 3 columns]

In [42]:
df['tag'].value_counts()

tag
OBJECT          283921
OTHER_PERSON      1589
PROVISION         1412
DATE              1057
COURT             1033
STATUTE            958
ORG                952
GPE                793
CASE_NUMBER        609
WITNESS            589
PRECEDENT          364
PETITIONER         312
RESPONDENT         201
JUDGE              173
Name: count, dtype: int64