In [73]:
import json
import pandas as pd

In [74]:
data = json.load(open('../../data/ner/NER_TRAIN/NER_TRAIN_JUDGEMENT.json'))

In [75]:
text = data[0]['data']['text']
annot = data[0]['annotations'][0]['result']

In [76]:
words = []

for w in text.split(' '):
    words.extend(w.split('\n'))

for i, w in enumerate(words):
    if i == len(words) - 1:
        continue
    
    if words[i + 1] == '':
        words[i] = words[i] + '\n'
        words[i + 1] = '\n'
        # words[i + 1] = 'z'


for i, w in enumerate(words):
    try:
        if words[i][-1] != '\n':
            words[i] += ' '
    except:
        pass

for i, w in enumerate(words):
    try:
        if words[i][-1] == '\n' and len(words[i]) != 1:
            words.insert(i + 1, '\n')
    except:
        pass

In [77]:
text[73:83]

' deposit s'

In [78]:
tags = [0 for _ in range(len(text))]

for i, w in enumerate(text):
    for x in annot:
        start, end, label = x['value']['start'], x['value']['end'], x['value']['labels'][0]
        if i >= start and i <= end:
            tags[i] = label
            break

In [79]:
tags

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 'ORG',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [80]:
for w, t in zip(text, tags):
    print(ascii(w), t)

'\n' 0
'\n' 0
'(' 0
'7' 0
')' 0
' ' 0
'O' 0
'n' 0
' ' 0
's' 0
'p' 0
'e' 0
'c' 0
'i' 0
'f' 0
'i' 0
'c' 0
' ' 0
'q' 0
'u' 0
'e' 0
'r' 0
'y' 0
' ' 0
'b' 0
'y' 0
' ' 0
't' 0
'h' 0
'e' 0
' ' 0
'B' 0
'e' 0
'n' 0
'c' 0
'h' 0
' ' 0
'a' 0
'b' 0
'o' 0
'u' 0
't' 0
' ' 0
'a' 0
'n' 0
' ' 0
'e' 0
'n' 0
't' 0
'r' 0
'y' 0
' ' 0
'o' 0
'f' 0
' ' 0
'R' 0
's' 0
'.' 0
' ' 0
'1' 0
',' 0
'3' 0
'1' 0
',' 0
'3' 0
'7' 0
',' 0
'5' 0
'0' 0
'0' 0
' ' 0
'o' 0
'n' 0
' ' 0
'd' 0
'e' 0
'p' 0
'o' 0
's' 0
'i' 0
't' 0
' ' 0
's' 0
'i' 0
'd' 0
'e' 0
' ' 0
'o' 0
'f' 0
' ' 0
'H' ORG
'o' ORG
'n' ORG
'g' ORG
'k' ORG
'o' ORG
'n' ORG
'g' ORG
' ' ORG
'B' ORG
'a' ORG
'n' ORG
'k' ORG
' ' ORG
'a' 0
'c' 0
'c' 0
'o' 0
'u' 0
'n' 0
't' 0
' ' 0
'o' 0
'f' 0
' ' 0
'w' 0
'h' 0
'i' 0
'c' 0
'h' 0
' ' 0
'a' 0
' ' 0
'p' 0
'h' 0
'o' 0
't' 0
'o' 0
' ' 0
'c' 0
'o' 0
'p' 0
'y' 0
' ' 0
'i' 0
's' 0
' ' 0
'a' 0
'p' 0
'p' 0
'e' 0
'a' 0
'r' 0
'i' 0
'n' 0
'g' 0
' ' 0
'a' 0
't' 0
' ' 0
'p' 0
'.' 0
' ' 0
'4' 0
'0' 0
' ' 0
'o' 0
'f' 0
' ' 0
'a' 0
's' 0
's' 0
'e' 0
's' 0
's' 0
'e' 0
'e' 0
"'" 0
's' 0
' ' 0
'p' 0
'a' 0
'p' 0
'e' 0
'r' 0
' ' 0
'b' 0
'o' 0
'o' 0
'k' 0
',' 0
' ' 0
'l' 0
'e' 0
'a' 0
'r' 0
'n' 0
'e' 0
'd' 0
' ' 0
'a' 0
'u' 0
't' 0
'h' 0
'o' 0
'r' 0
'i' 0
's' 0
'e' 0
'd' 0
' ' 0
'r' 0
'e' 0
'p' 0
'r' 0
'e' 0
's' 0
'e' 0
'n' 0
't' 0
'a' 0
't' 0
'i' 0
'v' 0
'e' 0
' ' 0
's' 0
'u' 0
'b' 0
'm' 0
'i' 0
't' 0
't' 0
'e' 0
'd' 0
' ' 0
't' 0
'h' 0
'a' 0
't' 0
' ' 0
'i' 0
't' 0
' ' 0
'w' 0
'a' 0
's' 0
' ' 0
'r' 0
'e' 0
'l' 0
'a' 0
't' 0
'e' 0
'd' 0
' ' 0
't' 0
'o' 0
' ' 0
'l' 0
'o' 0
'a' 0
'n' 0
' ' 0
'f' 0
'r' 0
'o' 0
'm' 0
' ' 0
'b' 0
'r' 0
'o' 0
'k' 0
'e' 0
'r' 0
',' 0
' ' 0
'R' ORG
'a' ORG
'h' ORG
'u' ORG
'l' ORG
' ' ORG
'&' ORG
' ' ORG
'C' ORG
'o' ORG
'.' ORG
' ' ORG
'o' 0
'n' 0
' ' 0
't' 0
'h' 0
'e' 0
' ' 0
'b' 0
'a' 0
's' 0
'i' 0
's' 0
' ' 0
'o' 0
'f' 0
' ' 0
'h' 0
'i' 0
's' 0
' ' 0
's' 0
'u' 0
'b' 0
'm' 0
'i' 0
's' 0
's' 0
'i' 0
'o' 0
'n' 0
' ' 0
'a' 0
' ' 0
'n' 0
'e' 0
'c' 0
'e' 0
's' 0
's' 0
'a' 0
'r' 0
'y' 0
' ' 0
'm' 0
'a' 0
'r' 0
'k' 0
' ' 0
'i' 0
's' 0
' ' 0
'p' 0
'u' 0
't' 0
' ' 0
'b' 0
'y' 0
' ' 0
'u' 0
's' 0
' ' 0
'o' 0
'n' 0
' ' 0
't' 0
'h' 0
'a' 0
't' 0
' ' 0
'p' 0
'h' 0
'o' 0
't' 0
'o' 0
' ' 0
'c' 0
'o' 0
'p' 0
'y' 0
'.' 0

In [81]:
words, final_tags = [], []

i = 0

while i < len(tags):
    if tags[i] == 0:
        w = ''
        while i < len(text) and text[i] != ' ' and tags[i] == 0:
            w += text[i]
            i += 1
        # print(1, w)
        words.append(w)
        final_tags.append('OBJECT')
        i += 1
    else:
        w = ''
        curr_tag = tags[i]
        while (i < len(tags) - 1) and (tags[i] == tags[i + 1]) and tags[i] != 0:
            w += text[i]
            i += 1
        # print(2, w)
        words.append(w)
        final_tags.append(curr_tag)

        if tags[i] != curr_tag:
            pass
        else:
            i += 1

In [82]:
for w, t in zip(words, final_tags):
    if t != 'OBJECT':
        print(w, t)

Hongkong Bank ORG
Rahul & Co. ORG

In [83]:
import pandas as pd

df = pd.DataFrame({
    'words': words,
    'tags': final_tags
})

In [84]:
df[df['words'] != '']

       words    tags
0    \n\n(7)  OBJECT
1         On  OBJECT
2   specific  OBJECT
3      query  OBJECT
4         by  OBJECT
..       ...     ...
58        us  OBJECT
59        on  OBJECT
60      that  OBJECT
61     photo  OBJECT
62     copy.  OBJECT

[63 rows x 2 columns]

In [85]:
df['words'] = df['words'].apply(lambda x: x.strip())

In [87]:
df[df['words'] != ''].head(100)

       words    tags
0        (7)  OBJECT
1         On  OBJECT
2   specific  OBJECT
3      query  OBJECT
4         by  OBJECT
..       ...     ...
58        us  OBJECT
59        on  OBJECT
60      that  OBJECT
61     photo  OBJECT
62     copy.  OBJECT

[63 rows x 2 columns]

In [88]:
df = pd.read_csv('../../data/ner/ner_train.csv')

In [89]:
df.head(100)

       sentence  words    tags
0   sentence #0    (7)  OBJECT
1   sentence #0    (7)  OBJECT
2   sentence #0     On  OBJECT
3   sentence #0    (7)  OBJECT
4   sentence #0     On  OBJECT
..          ...    ...     ...
95  sentence #0     by  OBJECT
96  sentence #0    the  OBJECT
97  sentence #0  Bench  OBJECT
98  sentence #0  about  OBJECT
99  sentence #0     an  OBJECT

[100 rows x 3 columns]

In [59]:
df.shape

(59033661, 3)

In [100]:
df = pd.read_csv('../../data/ner/ner_train_judgement.csv')
df

               sentence            words    tags
0           sentence #0              (7)  OBJECT
1           sentence #0              (7)  OBJECT
2           sentence #0               On  OBJECT
3           sentence #0              (7)  OBJECT
4           sentence #0               On  OBJECT
...                 ...              ...     ...
5511356  sentence #9434             with  OBJECT
5511357  sentence #9434          accused  OBJECT
5511358  sentence #9434             No.1  OBJECT
5511359  sentence #9434               as  OBJECT
5511360  sentence #9434  aforementioned.  OBJECT

[5511361 rows x 3 columns]

In [101]:
df = df.drop_duplicates().reset_index(drop=True)
df.to_csv('../../data/ner/ner_train_judgement.csv')

In [102]:
df = pd.read_csv('../../data/ner/ner_train_preamble.csv')
df = df.drop_duplicates().reset_index(drop=True)
df.to_csv('../../data/ner/ner_train_preamble.csv')

In [99]:
df = df.drop_duplicates().reset_index(drop=True)
df.head()

      sentence                              words    tags
0  sentence #0                                 In  OBJECT
1  sentence #0                                The  OBJECT
2  sentence #0  High Court Of Kerala At Ernakulam   COURT
3  sentence #0                                Crl  OBJECT
4  sentence #0                                 Mc  OBJECT

In [103]:
df.shape

(96108, 3)