In [1]:
from transformers import AutoTokenizer

In [2]:
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")
tokenizer

BertTokenizerFast(name_or_path='bert-base-uncased', vocab_size=30522, model_max_length=512, is_fast=True, padding_side='right', truncation_side='right', special_tokens={'unk_token': '[UNK]', 'sep_token': '[SEP]', 'pad_token': '[PAD]', 'cls_token': '[CLS]', 'mask_token': '[MASK]'}, clean_up_tokenization_spaces=True)

In [3]:
tokenizer.encode("Rahul & Co", add_special_tokens=False)

[10958, 21886, 1004, 2522]

In [4]:
tokenizer.decode([10958, 21886, 1004, 2522])

'rahul & co'

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/ner/ner_train.csv')
df

            sentence #            words     tag
0          Sentence: 0          \n\n(7)  OBJECT
1          Sentence: 0               On  OBJECT
2          Sentence: 0         specific  OBJECT
3          Sentence: 0            query  OBJECT
4          Sentence: 0               by  OBJECT
...                ...              ...     ...
293958  Sentence: 9364             with  OBJECT
293959  Sentence: 9364          accused  OBJECT
293960  Sentence: 9364             No.1  OBJECT
293961  Sentence: 9364               as  OBJECT
293962  Sentence: 9364  aforementioned.  OBJECT

[293963 rows x 3 columns]

In [7]:
x = 180034
df.iloc[x]

sentence #    Sentence: 5710
words                    the
tag                   OBJECT
Name: 180000, dtype: object

In [26]:
df.iloc[x + 35]

sentence #    Sentence: 5711
words                 Having
tag                   OBJECT
Name: 180035, dtype: object